@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(imagens/fundo-madeira.jpg) center center no-repeat fixed;
    background-size: cover;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    height: 627px;
    width: 311px;
    background: url(imagens/frame-iphone.png) center center no-repeat fixed;
}

ul{
    list-style: none;
    margin-top: 20px;
}

a > img{
    width: 60px;
    border-radius: 30px;
    margin: 1em;
    box-sizing: 2px 2px 5px rgba(0, 0, 0, 0.267);
    box-sizing: border-box;
}

a > img:hover{
    border: 2px solid white;
    translate: -3px -3px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.267);
    transition: .3s, border 0s;
}

iframe{
    position: relative;
    top: 80px;
    left: 22px;
    height: 470px;
    width: 270px;
}

#icones{
    display: flex;
    justify-content: right;
}
