@charset "utf-8";

*{  margin: 0px;
    padding: 0px;
}

img{
    width: 265px;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

a{
    text-align: center;
    text-decoration: none;
    background-color: darkred;
    padding: 15px;
    display: block;
    font-weight: bold;
    color: white;
    margin-top: -5px;
}

a:hover{
    border: 2px solid white;
}